.minimap {
  display: grid;
  gap: 4px;
  width: fit-content;
  margin: 16px 0;
}

.minimap__row {
  display: grid;
  grid-template-columns: repeat(8, 28px);
  gap: 4px;
}

.minimap__cell {
  display: grid;
  width: 28px;
  height: 28px;

  color: #bbb;
  font-family: monospace;

  border: 1px solid #ddd;
  place-items: center;
}
