:root {
  --color-black-default: rgb(43 43 43);
  --color-black-default-060: rgb(43 43 43 / 0.6);
  --color-black-900: rgb(64 64 64);
  --color-black-800: rgb(85 85 85);
  --color-black-700: rgb(107 107 107);
  --color-black-600: rgb(128 128 128);
  --color-black-500: rgb(149 149 149);
  --color-black-400: rgb(170 170 170);
  --color-black-300: rgb(191 191 191);
  --color-black-200: rgb(213 213 213);
  --color-black-100: rgb(234 234 234);
  --color-black-50: rgb(244 244 244);
  --color-black-30: rgb(249 249 249);

  --color-white: rgb(255 255 255);

  --color-gray-default: rgb(213 213 213);

  --color-swamp: rgb(233 239 235);

  --color-red-default: rgb(153 27 27);
  --color-red-crimson: rgb(176 25 60);
  --color-red-coral: rgb(255 93 94);
  --color-red-light: rgb(254 226 226);
  --color-red-light-050: rgb(254 226 226 / 0.5);
  --color-red-fade: rgb(255 242 244);
  --color-red-orange: rgb(253 159 114);
  --color-red-semi-light: rgb(255 204 205);

  --color-yellow-default: rgb(255 250 55);
  --color-yellow-sunshine: rgb(254 212 102);

  --color-gold-default: rgb(141 108 13);
  --color-gold-dark: rgb(91 86 57);
  --color-gold-light: rgb(255 236 183);
  --color-gold-light-050: rgb(255 236 183 / 0.5);
  --color-gold-fade: rgb(255 248 227);

  --color-blue-default: rgb(68 96 138);
  --color-blue-ocean: rgb(97 128 241);
  --color-blue-ultra-light: rgb(244 249 255);
  --color-blue-light: rgb(226 238 255);
  --color-blue-light-050: rgb(226 238 255 / 0.5);
  --color-blue-dark-light: rgb(232 236 255);
  --color-blue-fade: rgb(242 247 255);
  --color-blue-aqua: rgb(166 224 215);
  --color-blue-turquoise: rgb(102 254 227);

  --color-pink-1300: rgb(64 21 59);
  --color-pink-1250: rgb(180 60 210);
  --color-pink-1200: rgb(184 105 175);
  --color-pink-1100: rgb(218 138 209);
  --color-pink-default: rgb(239 179 232);
  --color-pink-900: rgb(241 187 234);
  --color-pink-800: rgb(242 194 237);
  --color-pink-700: rgb(244 202 239);
  --color-pink-600: rgb(245 209 241);
  --color-pink-500: rgb(247 217 243);
  --color-pink-400: rgb(249 225 246);
  --color-pink-300: rgb(250 232 248);
  --color-pink-200: rgb(253 247 253);

  --color-green-default: rgb(6 95 70);
  --color-green-meadow: rgb(110 208 125);
  --color-green-light: rgb(209 250 229);
  --color-green-fade: rgb(131 219 185);
  --color-green-lime: rgb(196 241 122);
  --color-green-mint: rgb(179 229 166);

  --color-purple: rgb(176 171 255);

  --color-orange-default: rgb(155 74 0);
  --color-orange-light: rgb(241 117 3);
  --color-orange-fade: rgb(254 241 230);
}
