@import "./settings.custom-properties.pcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 16px;

  color: var(--color-white);
  font-family: "Georgia", serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--color-black-default);
}
